build/
managed_components/
sdkconfig
sdkconfig.old

/main/.cproject
/main/.project
/components/lyra_board/.cproject
/components/lyra_board/.project

assets/

/board/JC3248W535EN/reference/bsp/
/board/JC3248W535EN/reference/datasheets/
/board/JC3248W535EN/reference/drivers/
/board/JC3248W535EN/reference/pinout/
/board/JC3248W535EN/reference/vendor_arduino/
/board/JC3248W535EN/reference/factory_firmware/*.bin

reference/
.clangd
AGENTS.md
